name: Metrics
on:
  schedule: [{cron: "0 0 * * *"}]
  workflow_dispatch:
  push: {branches: ["main"]}
jobs:
  github-metrics:
    runs-on: ubuntu-latest
    permissions:
      contents: write
    steps:
      - uses: lowlighter/metrics@latest
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          
          # Options
          user: Finn-paulsen
          template: terminal
          base: header, activity, community, repositories, metadata
          config_timezone: Europe/Berlin
          config_display: large
          config_animated: yes
          
          # Terminal theme (Fallout green style)
          config_theme: terminal
          config_padding: 10%
          
          # Plugins
          plugin_lines: yes
          plugin_lines_sections: repositories
          plugin_lines_repositories_limit: 4
          
          plugin_languages: yes
          plugin_languages_analysis_timeout: 15
          plugin_languages_categories: markup, programming
          plugin_languages_colors: github
          plugin_languages_limit: 8
          plugin_languages_threshold: 0%
          
          plugin_habits: yes
          plugin_habits_charts: yes
          plugin_habits_days: 14
          plugin_habits_facts: yes
          plugin_habits_from: 200
          
          plugin_followup: yes
          plugin_followup_sections: repositories
          
          plugin_activity: yes
          plugin_activity_days: 14
          plugin_activity_filter: all
          plugin_activity_limit: 5
          
          # Output
          filename: metrics.svg
          output_action: commit
          committer_message: "chore: update metrics"
